@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,700i&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background: #1f2c45;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.not-found {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.header {
    background:rgba(0,0,0, .2);
    padding: 1rem 2rem;
}

.header-text {
    text-align: center;
}

.featured {
    display: grid;
    grid-template-columns: 1fr 30%;
    padding: 1rem;
    width: 90%;
    margin: 2rem auto;
    background: rgba(0,0,0, .2);
    border-radius: 1rem;
}

.weather h3 {
    font-size: 1.1rem;
}

.weather ul {
    list-style: none;
    margin-top: 1.5rem;
}

.weather ul li {
    padding: 3px 0;
    font-size: 1.1rem;
    font-weight: bold;
}

.weather ul li span {
    font-weight: normal;
}

.temp h1 {
    text-align: right;
    font-size: 2.5rem;
}

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}

.main button {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    background: rgba(0,0,0, .3);
    border: none;
    border-radius: 1rem;
    display: block;
    padding: 2.5rem 0;
    transition: all 0.4s ease 0s;
    outline: none;
}

.main button:hover {
    color: #ffffff;
    background: rgba(0,0,0, .5);
    transition: all 0.4s ease 0s;
}

